.fx,.fxc,.fxj,.fxm,.fxmc,.fxmj,.fxmr,.fxr{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:flex}
.fv{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:flex;flex-direction:column}
.fxc,.fxmc,.fzc{justify-content:center}
.fxmr,.fxr,.fzr{justify-content:flex-end}
.fxm,.fxmc,.fxmj,.fxmr,.fzm{align-items:center}
.fxj,.fxmj,.fzj{justify-content:space-between}
.fzb{align-items:flex-end}
.fxt{align-items:flex-start}
.fxl{justify-content:flex-start}
.flex{flex:1}

.loading-wraper-1{position:fixed;z-index:10;left:0;top:0;width:100%;height:100%;background-color:rgba(255,255,255,.3)}
.loading-circle-1{width:40px;height:40px;position:relative}
.loading-circle-1 i{width:8px;height:8px;border-radius:100%;position:absolute;background-color:#4da1ff;animation:loadingCircle 1.2s infinite ease-in-out;animation-fill-mode:both}
.loading-circle-1 i:nth-child(1){left:0;top:0}
.loading-circle-1 i:nth-child(2){right:0;top:0}
.loading-circle-1 i:nth-child(3){right:0;bottom:0}
.loading-circle-1 i:nth-child(4){left:0;bottom:0}
.loading-circle-1 dd{position:absolute;width:100%;height:100%}
.loading-circle-1 dd:nth-child(1) i:nth-child(2){animation-delay:-.9s}
.loading-circle-1 dd:nth-child(1) i:nth-child(3){animation-delay:-.6s}
.loading-circle-1 dd:nth-child(1) i:nth-child(4){animation-delay:-.3s}
.loading-circle-1 dd:nth-child(2){transform:rotateZ(45deg)}
.loading-circle-1 dd:nth-child(2) i:nth-child(1){animation-delay:-1.1s}
.loading-circle-1 dd:nth-child(2) i:nth-child(2){animation-delay:-.8s}
.loading-circle-1 dd:nth-child(2) i:nth-child(3){animation-delay:-.5s}
.loading-circle-1 dd:nth-child(2) i:nth-child(4){animation-delay:-.2s}
.loading-circle-1 dd:nth-child(3){transform:rotateZ(90deg)}
.loading-circle-1 dd:nth-child(3) i:nth-child(1){animation-delay:-1s}
.loading-circle-1 dd:nth-child(3) i:nth-child(2){animation-delay:-.7s}
.loading-circle-1 dd:nth-child(3) i:nth-child(3){animation-delay:-.4s}
.loading-circle-1 dd:nth-child(3) i:nth-child(4){animation-delay:-.1s}
@keyframes loadingCircle{
0%,100%,80%{transform:scale(0)}
40%{transform:scale(1)}
}